/* ****************
		BODY
   **************** */
   body.festival{margin-left: 5%; margin-right: 5%; background-color: #000;}
   .row.header, .row.slider, .page-programme, .page-actualites, .page-programme-txt, .row.bloc-actus, .detail-programme, .form-inscription, .page-contact{background-image: url("../images/fond.png"); background-repeat: round;}

/* ****************
		HEADER
   **************** */
   .col-sm-6 h1{color: #fd9b00; font-size: 3em;}
   .col-sm-3 h2{color: #fff; font-size: large; text-align: center;}
   .col-sm-3.social-icons{display: flex; flex-direction: row; justify-content: flex-end; margin-top: 20px;}
   .icons{color: #fd9b00; width: 40px; height: 40px; margin-left: 5px; -webkit-border-radius: 100%; text-align: center; background-color: #222;}
   .icons i.fa{font-size: 1.5em; position: relative; display: inline-block; font-family: FontAwesome; font-style: normal; font-style: normal; line-height: 40px;}
   header .col-sm-3, header .col-sm-6{margin-bottom: 25px;}
   .icons a, .icons a:focus{color: #fd9b00;}
   .icons a:hover{color: #fff;}
   @media (min-width: 768px) and (max-width: 991px){
      .col-sm-6 h1{font-size: 2em;}
      .icons i.fa{line-height: 27px;}
      .icons{width: 26px; height: 26px;}
      .col-sm-3 h2{font-size: medium;}
   }
   @media (max-width: 767px){
      .col-xs-12.col-sm-6, .col-xs-12.col-sm-3{margin-bottom: 0px;}
      .col-xs-12.col-sm-3.social-icons{margin-bottom: 20px; margin-top: 30%;}
      h1.titre{font-size: 2em; text-align: center;}
      .col-xs-12.col-sm-3.social-icons{display: flex; justify-content: space-around; flex-direction: row;}
      .visible-xs-6.hidden-sm.hidden-md.txt-gratuit{width: 50%; font-size: x-large; top: 22%; left: 25%;}
   }
   @media (min-width: 768px){
      .visible-xs-6.hidden-sm.hidden-md.txt-gratuit{display: none;}
   }

/* ****************
		MENU
   **************** */
   i.fa.fa-home{margin: 10px 20px 5px 20px; color: #fd9b00;}
   .fa.fa-home{font-size: xx-large;}
   li{border-left: 1px solid #737373;}
   .li-end{border-right: 1px solid #737373;}
   .navbar{border-top: 1px solid #737373!important; border-bottom: 1px solid #737373!important; margin-bottom: 0px!important;}
   .navbar-nav>li>a{line-height: 0px!important;}
   ul.nav.navbar-nav{margin-top: 10px;}
   li{padding-left: 20px; padding-right: 20px;}
   button.btn.btn-default{background-color: #fd9b00;}
   .btn-default, .form-control{border-color: #080808!important;}
    .txt-actu{margin-right: 0px!important; margin-left: 0px!important;}
    @media (min-width: 768px) and (max-width: 991px){
      #bs-example-navbar-collapse-1 .col-sm-8{width: 68%;}
      #bs-example-navbar-collapse-1 .col-sm-3{width: 23%;}
      #bs-example-navbar-collapse-1 .col-sm-8 li{padding-right: 0px; padding-left: 0px;}
      i.fa.fa-home{margin: 10px 20px 5px 0px;}
      .col-sm-1.col-md-1.navbar-header{padding-left: 0px; width: 6%;}
      #bs-example-navbar-collapse-1 .col-sm-3{width: 27%;}
      #bs-example-navbar-collapse-1 .col-sm-8{width: 67%;}
      .navbar-nav>li>a{padding-left: 10px; padding-right: 10px;}
   }
   @media (max-width: 767px){
     .li-end{border-right: 0px;}
     li{border-left: 0px;}
     ul.col-sm-8.col-md-8.nav.navbar-nav{text-align: center;}
   }

   /* ****************
		SLIDER
   **************** */
   #carousel-example-generic li{padding-left: 0px; padding-right: 0px; background-color: #fff; border: 1px solid #404040;}
   li.active{background-color: #fd9b00!important;}
   .slider-pp{padding-left: 0px!important; padding-right: 0px!important;}
   .slider{z-index: 1; position: relative;}
   .carousel-inner>.item>img{width: 1920px;}
   /*** bloc info droite ***/
   .bloc-info-slider{border: 1px solid #737373; z-index: 5; position: absolute!important; background-color: rgba(0, 0, 0, 0.7); padding-top: 0px; padding-bottom: 0px; color: #737373; padding-left: 1%; padding-right: 1%; width: 30%; top: 10px; right: 0px;}
   .bloc-info-slider h4{color: #fd9b00; text-align: right; font-size: 1.3em;}
   p.txt-info-slider{text-align: justify; font-size: 1em;}
   /*
   suppression de carousel-caption dans le code html
   .carousel-caption.bloc-info-slider{padding-top: 0px; padding-bottom: 0px; color: #737373; padding-left: 1%; padding-right: 1%; width: 25%; top: 10px; right: 0px;}
   */
   /*** bloc info gauche ***/
   .txt-gratuit{z-index: 5; position: absolute!important; border: 1px solid #737373; background-color: rgba(0, 0, 0, 0.7); font-weight: bold; color: #fd9b00; font-size: xx-large; text-align: center; width: 17%; top: 25%; padding-bottom: 1%; padding-top: 1%;}
   @media (min-width: 768px) and (max-width: 991px){
      p.txt-info-slider{font-size: x-small;}
      .txt-gratuit{top: 18%; font-size: larger;}
    }
    
   /* ********************
		DETAIL-FILM ACCUEIL
    ********************** */
   .row.bloc-actus{padding-top: 2%; padding-bottom: 2%; border-top: 1px solid #373737;}
   .col-md-3.actu-ap{background-color: #fd9b00; width: 20%; padding-left: 1px; padding-right: 1px;}
   .col-md-3.actu-ap.end{margin-left: 5px;}
   .col-md-3.actu-ap{background-color: #fff; width: 20%; border-radius: 10px; border: 1px solid #323232;}
   .col-md-12.actu{background-color: #fff; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; padding-left: 0px!important; padding-right: 0px!important;}
   p.home-txt-actu, p.home-txt-actu-begin{font-size: smaller; padding-left: 5px;}
   p.home-txt-actu-begin{padding-top: 5px;}
   .actu-ap h3{margin: 2%; font-size: 1.5em; color: #000;}
   @media (min-width: 768px) and (max-width: 991px){
      .actu-ap h3{font-size: 1em;}
      p.home-txt-actu, p.home-txt-actu-begin{font-size: xx-small;}
   }
   @media (max-width: 767px){
      .col-xs-6.col-sm-3.col-md-3.actu-ap{width: 49%; margin-top: 1%;}
      .col-xs-6.col-sm-3.col-md-3.actu-ap.begin{margin-right: 1%;}
      .col-xs-6.col-sm-3.col-md-3.actu-ap.end{margin-left: 1%;}
      .actu-ap h3{font-size: 1.2em;}
   }
   @media(min-width: 768px){
      .col-sm-3.col-md-3.actu-ap{margin-left: 4%;}
   }

   /* ****************
      PROGRAMME
   **************** */
   .row.page-programme .col-xs-6.col-sm-4.col-md-3 p{color: #535353;}
   .page-programme-txt h3, .txt-contact h3, .contact-form h3, .col-sm-offset-1.col-sm-10.formulaire h3{color: #fd9b00;}
   h4{color: #fd9b00; margin-bottom: 1px!important;}
   .page-programme-txt .col-md-12 p{color: #fff;}
   .col-md-12 a, .col-md-3 a{color: #fd9b00;}
   a:hover{color: #fff!important; text-decoration: none!important;}
   .page-programme .col-md-3 img{border: 1px solid #737373; margin-top: 10%;}
   @media (max-width: 991px){
      .row.page-programme{text-align: center;}
   }

   /* ****************
      DETAIL PROGRAMME
   **************** */
   .container-fluid{padding-right: 0px; padding-left: 0px;}
   .detail-programme .col-md-7{padding-left: 0px;}
   .detail-programme .col-md-7 p, .detail-programme .col-md-12 p, .col-sm-5.formulaire p, .col-sm-10.formulaire p{color: #fff; font-size: 1.5em; margin-bottom: 5px;}
   .detail-programme .col-md-7 span, .detail-programme .col-sm-7 span, .detail-programme .col-md-12 span, .col-md-5.formulaire span, .col-sm-5.formulaire span, .col-md-10.formulaire span {color: #fd9b00; font-weight: 900;}
   .detail-programme .col-md-12 {margin-top: 10px;}
   .detail-programme .row{width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px;}
   .row.detail-programme .col-sm-7 .row .col-sm-12.col-md-7 h3{color: #fd9b00; font-size: 2em; font-weight: bold;}
   @media (max-width: 991px){
      .col-sm-12.col-md-7{padding-left: 15px;}
   }
   @media (max-width: 767px){
      .row.detail-programme .col-sm-7 .col-sm-12.col-md-5 img{width: 260px;}
      .detail-programme .col-md-12 span, .detail-programme .col-md-7 span, .detail-programme .col-sm-7 span{font-weight: bolder;}
      .detail-programme .col-md-12 span{font-size: 0.9em;}
   }

   /* ****************
      FORMULAIRE
   **************** */
   .formulaire{background-color: #222;}
   .form-horizontal .control-label, .checkbox-label{color: #fff; font-size: 1.3em;}
   .form-horizontal .control-label span, .col-sm-offset-1.col-sm-10.formulaire p span{color: #fd9b00;}
   .formulaire button.btn.btn-default{margin-top: 30px;}

   /* ****************
      FESTIVAL 
   **************** */
   .col-md-offset-1.col-md-10 h3{color: #fd9b00;}
   .container.festival-description{margin-left: 0px;}
   .festival-description .col-md-10 p{font-size: 1.3em; color: #747474;}

   /* ****************
      CONTACT 
   **************** */
   .page-contact, .row.page-actualites, .col-sm-offset-1.col-sm-10.formulaire{ padding-top: 20px; padding-bottom: 20px;}
   iframe{border: 1px solid #fd9b00;}
   .txt-contact{color: #737373; margin-top: 20px;}
   .txt-contact h4, .txt-contact h5{color: #fff;}
   .contact-map{margin-top: 25px;}
   .col-xs-push-1.col-xs-10.col-md-4.contact-map{text-align: center;}
   .col-xs-12.col-md-4.contact-form{padding-left: 25px;}
   @media (max-width: 767px){
      .col-xs-push-1.col-xs-10.col-md-4.contact-map iframe{width: 260px;}
   }
 
   /* ****************
      ACTUALITES
   **************** */
   .page-actualites .col-md-12 h5, .page-actualites .col-md-12 p{color: #737373;}
   hr{border-top: 1px solid #222;}

   /* ****************
		FOOTER
   **************** */
   .row.detail-programme, .row.page-programme, .row.page-programme-txt{padding-bottom: 20px;}
   footer a, footer a:focus, footer a:hover{color: #fd9b00; text-decoration: none; display: flex; justify-content: center;}
   .footer-title{color: #fff; font-size: larger; margin-bottom: 10px;}
   footer{margin-top: 10px;}
   .row.footer{border-top: 1px solid #737373; background-color: #222;}
   @media (min-width: 768px) and (max-width: 991px){
      .footer-title{font-size: smaller;}
   }
   @media (max-width: 767px){
      .row.footer{font-size: x-small; text-align: center;}
      .col-xs-12.col-sm-3{padding-bottom: 1%;}
   }